<link rel="stylesheet" href="dashboard.css" />
<table>
    <thead>
    <tr>
        <th>
            <a th:href="@{'/dashboard'(sortBy='id', order=${(order == 'asc' and sortBy == 'id') ? 'desc' : 'asc'})}">ID</a>
        </th>
        <th>
            <a th:href="@{'/dashboard'(sortBy='nom', order=${(order == 'asc' and sortBy == 'nom') ? 'desc' : 'asc'})}">Nom</a>
        </th>
        <th>
            <a th:href="@{'/dashboard'(sortBy='statut', order=${(order == 'asc' and sortBy == 'statut') ? 'desc' : 'asc'})}">Statut</a>
        </th>
        <th>
            <a th:href="@{/dashboard(sortBy='dateDebut', order=${order == 'asc' and sortBy == 'dateDebut' ? 'desc' : 'asc'})}">
                Date Début
            </a>
        </th>
        <th>
            <a th:href="@{/dashboard(sortBy='dateFin', order=${order == 'asc' and sortBy == 'dateFin' ? 'desc' : 'asc'})}">
                Date Fin
            </a>
        </th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="t : ${traitements}">
        <td th:text="${t.id}"></td>
        <td th:text="${t.nom}"></td>
        <td th:text="${t.statut}"></td>
        <td th:text="${t.dateDebut}"></td>
        <td th:text="${t.dateFin}"></td>
    </tr>
    </tbody>
</table>
